<style type="text/css">
.tabs-left, .tabs-right {
  border-bottom: none;
  padding-top: 2px;
}
.tabs-left {
  border-right: 1px solid #ddd;
}
.tabs-left>li, .tabs-right>li {
  float: none;
  margin-bottom: 2px;
}
.tabs-left>li {
  margin-right: -1px;
}
.tabs-left>li.active>a,
.tabs-left>li.active>a:hover,
.tabs-left>li.active>a:focus {
  border-bottom-color: #ddd;
  border-right-color: transparent;
  background-color: #4CAF50;
}
.tabs-left>li>a {
  border-radius: 4px 0 0 4px;
  margin-right: 0;
  display:block;
}
a:hover{
  text-decoration:none; 
}
</style>
<title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
  console.log("test1")
  //var getCountryPath = window.location.host.split(".")[0];
  var getCountryPath="";
  if(getCountryPath == "in"){
    
      $("li").removeClass("active");
      $("li > a[href='#india']").parent().addClass("active");
      $("#india").addClass("active"); 
    }
    if(getCountryPath == "qa"){
      $("li").removeClass("active");
      $("li > a[href='#qatar']").parent().addClass("active");
      $("#qatar").addClass("active");
    }
    if(getCountryPath == "om"){
      $("li").removeClass("active");
      $("li > a[href='#oman']").parent().addClass("active");
      $("#oman").addClass("active");
    }
    if(getCountryPath == "uae"){
      $("li").removeClass("active");
      $("li > a[href='#uae']").parent().addClass("active");
      $("#uae").addClass("active");
    }
    var hide = function (elem) {
    elem.classList.remove('is-visible');
};
});
  </script>
<div class="row" style="min-height:300px;">
  <h3>Contact Us</h3>
    <hr/>
      <div class="col-xs-2">
          <ul class="nav nav-tabs tabs-left">
            <li><a href="#qatar" data-toggle="tab">Qatar</a></li>
            <li><a href="#india" data-toggle="tab">India</a></li>
            <li><a href="#oman" data-toggle="tab">Oman</a></li>
            <li><a href="#uae" data-toggle="tab">UAE</a></li>
          </ul>
      </div>
      <div class="col-xs-10">
            <!-- Tab panes -->
        <div class="tab-content">
          
            <div class="tab-pane" id="qatar">
                <h3>Qatar</h3>
                    <p>ChemTech <br>
                        12, Aziziya Commercial Building, <br>
                        Al Azizya, <br>
                        Doha<br>
                        <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel://00974. 44 65 1234">00974. 44 65 1234</a>
                    </p>
                  <div id="1" class="col-sm-6">
                    <div class="row">
                      <h3>Business Development Mangaer</h3>
                      <p>Surej<br>
                            <a href="tel:30074008;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:44627333;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:surej@chemma.com">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:surejma?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Sales Manager </h3>
                      <p>Mohammed Ali<br>
                            <a href="tel:+00974 44627311;">
                             <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="tel:+00974 30211011;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:mohammed.ali@chemma.com">
                             <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:mohammed.chemtech?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div> 
                     <div class="row">
                      <h3>Sales manager Industrial Chemical</h3>
                      <p>Habtom<br>
                            <a href="tel:+00974 44627321;">
                             <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="tel:+00974 30211021;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:tom@chemma.com">
                             <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:tom.chemtech?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div> 
                    <div class="row">
                      <h3>sales manger (medial related)</h3>
                      <p>Riyas<br>
                            <a href="tel:+00974 44627370;">
                             <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="tel:+00974 30211008;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:rr@chemma.com">
                             <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:#?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Disposal</h3>
                      <p>ram kumar<br>
                            <a href="#;">
                             <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="tel:+00974 30211003;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:disposal@chemma.com">
                             <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:ram.chemtech1?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div> 
                    <div class="row">
                      <h3>Sales support</h3>
                      <p>Dona<br>
                            <a href="tel:+00974 44627340;">
                             <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="#">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:ak@chemma.com">
                             <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:nh@chemma.com?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div> 
                    </div>

                    <div id="1" class="col-sm-6">
                    <div class="row">
                    
                    <div class="row">
                      <h3>Sales support</h3>
                      <p>Shaima<br>
                            <a href="tel:+00974 44627338;">
                             <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="#">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:an@chemma.com">
                             <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:live:an_2429?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row"> 
                      <h3>Sales support</h3>
                      <p>Jyotsana<br>
                            <a href="tel:+00974 44627347;">
                             <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="#">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:rfq@chemma.com">
                             <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:jyotsana.chemtech?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row"> 
                      <h3>Chief Accountant</h3>
                      <p>Radhika<br>
                            <a href="tel:+00974 44627339;">
                             <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="#">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:accounts@chemma.com">
                             <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:radhika.hari9?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row"> 
                      <h3>Procurment  Manager</h3>
                      <p>Faraz<br>
                            <a href="tel:+00974 44627304;">
                             <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="#">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="mailto:procurement@chemma.com">
                             <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="skype:faraz_chemtech?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Transport Division</h3>
                      <p>Keshav Giri<br>
                            <a href="#">
                             <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                              &nbsp; 
                            </a>&nbsp;
                            <a href="#">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                              &nbsp;
                            </a>&nbsp;
                            <a href="#">
                             <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp; 
                            </a>&nbsp;
                            <a href="#">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    </div>
                    </div>

            </div>
            <div class="tab-pane" id="india">
                <h3>India</h3>
                <p>ChemTech <br>
                    310, Nehru Palace Building, <br>
                    Bank junction, <br>
                    Aluva, <br>
                    Kerala<br>
                    <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel://0484 2985555">0484 29855554</a> </p>

                    <div id="1" class="col-sm-6">
                    <div class="row">
                      <h3>Business Development Manager - Qatar</h3>
                      <p>Surej<br>
                            <a href="tel:484-2985555;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:8330078910;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:ak@chemma.com">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:surejma?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Business Development Manager -UAE</h3>
                      <p>Sherif<br>
                            <a href="#">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="#">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="sherif@chemma.com">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="#">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Sales Manager Industrial Chemical</h3>
                      <p>Dona<br>
                            <a href="tel:0484 298 4010;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:9400978910;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:an@chemma.com">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:nh@chemma.com?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    
                    </div>
                    <div id="1" class="col-sm-6">
                    <div class="row">
                    <div class="row">
                      <h3>Sales Manager lab chemicall</h3>
                      <p>Shaima<br>
                            <a href="tel:0484 298 4010;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:8078981696;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:rfq@chemma.com">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:live:an_2429?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Medical Related Items</h3>
                      <p>Jyotsana<br>
                            <a href="tel:0484 298 4010;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:9846462200;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="#">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:jyotsana.chemtech?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3> </h3>
                      <p>Akshay<br>
                            <a href="tel:0484 298 4010;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:9497080910;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:aj@chemma.com">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:live:aj_3376?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Chief Accountant</h3>
                      <p>Radhika<br>
                            <a href="tel:0484 298 4010;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:8547080910;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:accounts@chemma.com">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:radhika.hari9?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    </div>
                    </div>
            </div>

            <!-- ------------------------------------------------------------------- -->
            <div class="tab-pane" id="oman">
                <h3>Oman</h3>
                <p>ChemTech- MPES LLC <br>
                    Plot No. 24, <br>
                    Block No. 252, <br>
                    Steet No.61, Ghala Industrial Area, <br>
                    Muscat<br>
                    <i class="fa fa-phone" aria-hidden="true"></i> <a href="tel://968 2450 3385">968 2450 3385</a>
                </p>
                <div id="1" class="col-sm-6">
                    <div class="row">
                      <h3>Business Development Manger</h3>
                      <p>Anju<br>
                            <a href="tel:484-2985555;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:8330078910;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:om@chemma.com">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:surejma?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Sales Manager Industrial Chemical</h3>
                      <p>Dona<br>
                            <a href="tel:0484 298 4010;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:9400978910;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:nh@chemma.com">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:nh@chemma.com?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    
                    </div>
                    <div id="1" class="col-sm-6">
                    <div class="row">
                      <h3>Sales Manager lab chemical</h3>
                      <p>Shaima<br>
                            <a href="tel:0484 298 4010;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:8078981696;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:rfq@chemma.com">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:live:an_2429?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Medical Related Items</h3>
                      <p>Jyotsana<br>
                            <a href="tel:0484 298 4010;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:9846462200;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="#">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:jyotsana.chemtech?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    </div>
            </div>
            <div class="tab-pane" id="uae">
                <h3>UAE</h3>
                <p>ChemTech <br>
                    21-10, Aspin Tower, <br>
                    Sheikh Zayed Road, <br>
                    Dubai<br>
                    <i class="fa fa-phone" aria-hidden="true"></i><a href="tel://00971.4.269 0770">00971.4.269 0770</a> 
                </p>
                <div id="1" class="col-sm-6">
                    <div class="row">
                      <h3>Business Development Manager</h3>
                      <p>Sherif Mohammad<br>
                            <a href="tel:4269 0770 ext 345;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:562102665;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:sherif@chemma.com">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:sherif.chemtech?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    <div class="row">
                      <h3>Sales & Marketing Manager</h3>
                      <p>Shibu<br>
                            <a href="tel:4269 0770 ext 344;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:562107558;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:sn@chemma.com">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:live:7da63a4fdc8b3b5e?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    </div>
                    <div id="1" class="col-sm-6">
                    <div class="row">
                      <h3>Sales & Marketing Manager</h3>
                      <p>Biru Rai<br>
                            <a href="tel:4269 0770 ext 342;">
                              <img src="/private/files/phone.png" alt="phone" width="25" height="25">
                            </a>&nbsp;
                            <a href="tel:561875007;">
                              <img src="/private/files/mobile.png" alt="mobile" width="25" height="25">
                            </a>&nbsp;
                            <a href="mailto:br@chemma.com">
                               <img src="/private/files/email.png" alt="mail" width="25" height="25"> 
                              &nbsp;
                            </a> &nbsp;
                            <a href="skype:biru.rai04?chat">
                               <img src="/private/files/skype.png" alt="skype" width="25" height="25"> 
                              &nbsp;
                            </a>  
                        </p>
                    </div>
                    </div>

            </div>
        </div>
      </div>
</div>
        <div class="clearfix"></div>
    
